@import "params.less";
@import "template.less";

#body > .container > .pane
{
    width: 100vw;
    padding: 0.25rem;
    & > .title
    {
        line-height: 1.0rem;
        #indicator
        {
            margin-left: 2.0rem;
        }
        #run
        {
            @-moz-document url-prefix() {
                margin-top: -1.0rem;
            }
            float:right;
            cursor: pointer;
        }
    }
    & > .container
    {
        & > .view
        {
            background-color: #DEFEEE;
            white-space: pre-wrap;
            overflow-y: auto;

            & > .error
            {
                color: #E04040;
            }

            &#machine
            {
                line-height: 1rem;

                .array,
                .object
                {
                    display: block;
                    padding-left: 1.0rem;
                }
                .property
                {
                    display: block;
                }
                .property > div
                {
                    display: inline-block;
    
                    &.key
                    {
                        vertical-align: top;
                        width: 8.0rem;
                        overflow-x: visible;
                    }
                    &.object,
                    &.array
                    {
                        margin-top: 1.0rem;
                        margin-left: -8.0rem;
                    }
                    &:not(key)
                    {
                        min-width: 10.0rem;
                    }
                }

                div.key
                {
                    background: -prefix-linear-gradient(left top, #CCEEEE, #FFFFFF);
                    background: linear-gradient(to bottom right, #CCEEEE, #FFFFFF);
                }
                div:not(.property):not(.key)
                {
                    //border-width: 1px;
                    //border-style: solid;
                    //border-color: #FFFFFF;
                    //padding: 0.1rem;
                    background: -prefix-linear-gradient(left top, #DEFEEE, #FFFFFF);
                    background: linear-gradient(to bottom right, #DEFEEE, #FFFFFF);
                }
            }
        }
    }
    &.sample-list
    {
        & > .container
        {
            & > ul > li
            {
                cursor: pointer;
            }
        }
    }
}

@media (min-width:80rem)
{
    #body > .container
    {
        display: flex;
        & > .pane
        {
            width: auto;
            margin: 0rem 0.25rem;
            padding: 0rem;
            &.sample-list
            {
                flex-grow: 1;
            }
            &.source,
            &.output,
            &.machine
            {
                flex-grow: 4;
            }
        }
    }
}
