@import "params.less";
@import "template.less";

@text-selectable:
{
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
};

#body > .container > .pane
{
    width: 100vw;
    padding: 0.25rem;
    & > .title
    {
        line-height: 1.0rem;
        #indicator
        {
            margin-left: 2.0rem;
        }
        #run
        {
            @-moz-document url-prefix() {
                margin-top: -1.0rem;
            }
            float:right;
            cursor: pointer;
        }
    }
    & > .container
    {
        & > .view
        {
            background-color: #DEFEEE;
            white-space: pre-wrap;
            overflow-y: auto;

            & > .error
            {
                color: #E04040;
            }

            &#machine
            {
                line-height: 1.0rem;

                .array:not(:empty),
                .object:not(:empty)
                {
                    display: block;
                    & > div
                    {
                        margin-left: 1.0rem;
                    }
                }
                .array:not(:empty)::before
                {
                    @text-selectable();
                    content: "[";
                }
                .object:not(:empty)::before
                {
                    @text-selectable();
                    content: "{";
                }
                .array:not(:empty)::after
                {
                    @text-selectable();
                    content: "]";
                }
                .object:not(:empty)::after
                {
                    @text-selectable();
                    content: "}";
                }
                .array:empty::before
                {
                    @text-selectable();
                    content: "[]";
                }
                .object:empty::before
                {
                    @text-selectable();
                    content: "{}";
                }
                .key::after
                {
                    @text-selectable();
                    content: ":";
                }
                .array > *:not(:last-child)::after
                {
                    @text-selectable();
                    content: ",";
                }
                .array > .array:not(:last-child)::after
                {
                    content: "],";
                }
                .array > .object:not(:last-child)::after
                {
                    content: "},";
                }
                .property
                {
                    display: block;
                    background-color: #FFFFFF;
                }
                .property > div
                {
                    &.key
                    {
                        display: inline-block;
                        vertical-align: top;
                        width: @json-key-width;
                        overflow-x: visible;
                        white-space: nowrap;
                    }
                    &:not(.key):not(.array):not(.object),
                    &.array:before,
                    &.object:before
                    {
                        display: block;
                        margin-top: -1.0rem;
                        margin-left: @json-key-width;
                    }
                }
                .property:not(:last-child) > div:not(.key)::after
                {
                    @text-selectable();
                    content: ",";
                }
                .property:not(:last-child) > .array:not(:empty)::after
                {
                    content: "],";
                }
                .property:not(:last-child) > .object:not(:empty)::after
                {
                    content: "},";
                }

                div.key
                {
                    background: -prefix-linear-gradient(left top, #CCEEEE, #FFFFFF);
                    background: linear-gradient(to bottom right, #CCEEEE, #FFFFFF);
                }
                div:not(.property):not(.key)
                {
                    background: -prefix-linear-gradient(left top, #DEFEEE, #FFFFFF);
                    background: linear-gradient(to bottom right, #DEFEEE, #FFFFFF);
                }
            }
        }
    }
    &.sample-list
    {
        & > .container
        {
            & > ul > li
            {
                cursor: pointer;
            }
        }
    }
}

@media (min-width:80rem)
{
    #body > .container
    {
        display: flex;
        & > .pane
        {
            width: auto;
            margin: 0rem 0.25rem;
            padding: 0rem;
            &.sample-list
            {
                flex-grow: 1;
            }
            &.source,
            &.output,
            &.machine
            {
                flex-grow: 4;
            }
        }
    }
}
