@import "params.less";
@import "template.less";

#body > .container > .pane
{
    width: 100vw;
    padding: 0.25rem;
    & > .title
    {
        line-height: 1.0rem;
        #indicator
        {
            margin-left: 2.0rem;
        }
        #run
        {
            @-moz-document url-prefix() {
                margin-top: -1.0rem;
            }
            float:right;
            cursor: pointer;
        }
    }
    & > .container
    {
        & > .view
        {
            background-color: #DEFEEE;
            white-space: pre-wrap;
            overflow-y: auto;

            & > .error
            {
                color: #E04040;
            }

            .object
            {
                padding-left: 1.0rem;
            }
        }
    }
    &.sample-list
    {
        & > .container
        {
            & > ul > li
            {
                cursor: pointer;
            }
        }
    }
}

@media (min-width:80rem)
{
    #body > .container
    {
        display: flex;
        & > .pane
        {
            width: auto;
            margin: 0rem 0.25rem;
            padding: 0rem;
            &.sample-list
            {
                flex-grow: 1;
            }
            &.source,
            &.output,
            &.machine
            {
                flex-grow: 4;
            }
        }
    }
}
